:root {
  --color-primary: #0A2217; /* also bg dark */
  --color-secondary: #264d34;
  --bg-light: #eee;
  --bg-light-veil: rgba(192, 216, 120, .9);
  --color-accent: #a8c060;
  --color-accent-2: #547239;
  --color-accent-3: #c0d878;
}

/* SET UP VARIABLES UP HERE 

*/
/* IMPORT FONTS */

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%; /* 1rem  = 10px */
}


/* VARIABLES

FONTS: {
  title
  body
}

SHADOWS: {
  up
  down
}

ANIMATIONS
MIXINS?
BREAKPOINT MANAGER

*/